@font-face {
    font-family: 'gilroyextrabold';
    src: url(fonts/gilroyextrabold.woff2) format('woff2');
    src: url(fonts/gilroyextrabold.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroylight';
    src: url(fonts/gilroylight.woff2) format('woff2');
    src: url(fonts/gilroylight.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensans';
    src: url(fonts/opensans.woff2) format('woff2');
    src: url(fonts/opensans.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensanslight';
    src: url(fonts/opensanslight.woff2) format('woff2');
    src: url(fonts/opensanslight.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;

    font-family: "gilroyextrabold", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;

    background-color: #ffffff;
}

a {
    text-decoration: none;
}

h2, h3 {
    font-size: 47px;
    line-height: 48px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0px;
    padding: 0px;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-header-logo:hover {
    opacity: 0.6;
}

.main-header-logo:focus {
    opacity: 0.3;
}

.main-navigation {
    color: #000000;
    background-color: #f7e296;
}

.main-header-search {
    width: 200px;
}

.main-header-search input[type="search"] {
    font-family: "opensanslight", Arial, sans-serif;
    font-size: 15px;
    opacity: 0.3;
    border: none;
    outline: none;
    outline-offset: none;
    line-height: 40px;
    background-color: transparent;
    width: 100%;
}

.main-header-search input:hover {
    opacity: 0.6;
}

.main-header-search input:focus {
    opacity: 1;
    border-bottom: 2px solid #000000;
}

.main-header-search input:focus + .search-button {
    font-family: "opensanslight", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    background-color: transparent;
    border: 2px solid #000000;
    outline: none;
    position: absolute;
    width: 81px;
    height: 45px;
    margin: -1px;
    padding: 0px;
    clip: auto;
    overflow: auto;
}

.main-header-search input:focus + .search-button:hover {
    font-family: "opensanslight", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    background-color: #000000;
    color: #ffffff;
    border: 2px solid #000000;
    outline: none;
    position: absolute;
    width: 81px;
    height: 45px;
    margin: -1px;
    padding: 0px;
    clip: auto;
    overflow: auto;
}

.main-header-search input[type="search"] + .search-button:focus {
    font-family: "opensanslight", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    background-color: #000000;
    color: rgba(255, 255, 255, 0.3);
    border: 2px solid #000000;
    outline: none;
    position: absolute;
    width: 81px;
    height: 45px;
    margin: -1px;
    padding: 0px;
    clip: auto;
    overflow: auto;
}

.user-navigation {
    list-style: none;
    font-family: "opensanslight", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
}

.site-navigation, 
.catalog-menu-link {
    list-style: none;
    font-family: "open", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.catalog-menu {
    list-style: none;
    font-family: "opensanslight", Arial, sans-serif;
    font-size: 15px;
    line-height: 36px;
    text-transform: none;
    letter-spacing: 1px;
}

.user-navigation a,
.site-navigation a,
.catalog-menu-link,
.catalog-menu a {
    color: #000000;
    
}

.user-navigation a:hover,
.site-navigation a:hover,
.catalog-menu-link:hover,
.catalog-menu a:hover {
    opacity: 0.6;
}

.user-navigation a:focus,
.site-navigation a:focus,
.catalog-menu-link:focus,
.catalog-menu a:focus {
    opacity: 0.3;
}

.top-gadgets__slide-number {
    font-family: "gilroyextrabold", Arial, sans-serif;
    font-size: 180px;
    line-height: 179.2px;
    color: #ffffff;
}

.top-gadgets__tagline {
    font-family: "gilroyextrabold", Arial, sans-serif;
    font-size: 47px;
    line-height: 56px;
}

.top-gadgets__description {
    font-family: "opensanslight", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
}

.button {
    height: 40px;
    width: auto;
    font-family: "gilroyextrabold", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    border: none;
    outline: none;
    background: linear-gradient(to top, transparent 40%, #f0c52e 40% 60%, transparent 60%);
}

.button:hover {
    background: #f0c52e;
}

.button:focus {
    background: #f0c52e;
    color: rgba(0, 0, 0, 0.3);
}

.table-properties {
    font-family: "gilroylight", Arial, sans-serif;
    font-size: 36px;
    line-height: 48px;
}


.table_description {
    font-family: "opensanslight", Arial, sans-serif;
    font-size: 13px;
    line-height: 20px;
}

.top-gadgets__pagination-list {
    list-style: none;
}

.gadget-types {
    list-style: none;
}

.gadget-types h3 {
    font-family: "gilroyextrabold", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
}

.gadget-types a {
    color: #000000;
}

.gadget-types a:focus {
    opacity: 0.3;
}

.services {
    background-color: #e5e5e5;
}

.service-list {
    list-style: none;
}

.popup-button:focus {
    color: #f7e184;
    background: #000000;
}

.services p,
.about-us p,
.contacts p,
.main-footer__navigation p,
.main-footer__navigation a {
    font-family: "opensanslight", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
}

.partners-list {
    list-style: none;
}

.partners-list img {
    filter: grayscale();
    opacity: 0.2;
}

.partners-list img:hover {
    filter: none;
    opacity: 1;
}

.delivery-partners-list {
    font-size: 16px;
    line-height: 40px;
}

.main-footer {
    background-color: #464646;
}

.main-footer__logo:hover {
    opacity: 0.6;
}

.main-footer__logo:focus {
    opacity: 0.3;
}

.main-footer__navigation p, 
.main-footer__navigation a,
.main-footer__site-navigation a {
    color: #ffffff;
}

.main-footer__user-navigation a {
    line-height: 36px;
}

.your-name__field::placeholder,
.email__field::placeholder,
.text_field::placeholder {
    color: rgba(70, 70, 70, 0.4);
    font-family: "opensans", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
}

.your-name__field,
.email__field,
.text_field {
    font-family: "opensans", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    background-color: rgba(229, 229, 229, 0.5);
    border: none;
    width: 360px;
    height: 50px;
    padding-left: 20px;
}

.text_field {
    width: 760px;
    height: 156px;
    padding-top: 20px;
}

.your-name__field:hover,
.email__field:hover,
.text_field:hover {
    background-color: rgba(229, 229, 229, 0.8);
}

.your-name__field:focus,
.email__field:focus,
.text_field:focus {
    background-color: transparent;
    border: 3px solid #f0c52e;
    outline: none;
    color: rgba(70, 70, 70, 1);
    padding-left: 17px;
}

input:invalid {
    background-color: rgba(237, 181, 181, 0.5);
    color: rgba(70, 70, 70, 0.4);
}

/*сетка*/

.main-header {
    width: 1160px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.main-navigation {
    height: 300px;
}

.main-header-logo {
    padding-left: 60px;
    position: relative;
    top: -20px;
}

.user-navigation {
    display: flex;
    width: 500px;
    padding: 0px 0px;
    justify-content: space-between;
}

.user-navigation .compare-link {
    margin-left: 240px;
}

.main-navigation .header-container {
    display: flex;
    justify-content: space-between;
}

.header-container {
    width: 1040px;
    margin: 0 auto;
    padding: 0 60px;
}

.main-header-search {
    margin-top: 10px;
    padding: 0px 0px;
}

.site-navigation {
    padding-left: 0px;
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.catalog-menu-box {
    display: none;
    padding-left: 0px;
}

.list-item-column-1 {
    padding-left: 0px;
}

.pop-up-menu {
    margin-top: 20px;
}

.pop-up-menu:hover .catalog-menu-box {
    display: flex;
}

.top-gadgets__slide-holder {
    max-width: 1040px;
    margin: 0 auto;
    padding: 0 60px;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -122px;
}

.slider-description-box {
    display: inline-block;
    min-width: 500px;
}

.slider-description-box span {
    right: 50px;
    position: absolute;
}

.top-gadgets__tagline {
    margin-top: 90px;
}

.slider-description-box button {
    min-width: 220px;
}

.table-properties_column-1 {
    width: 160px;
}

.table-properties_column-2 {
    width: 140px;
}